* {
  box-sizing: border-box;
}
.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}
.classContent .classFooter .classHeader {
  padding: 1em;
}
header,
footer {
  background: rgb(253, 194, 167);
  height: 20vh;
  padding: 1em;
}
.classContent {
  display: flex;
  flex-direction: column;
  background: rgb(159, 194, 226);
  flex: 1;
  padding: 1em;
}
